body{
    background-image: url("dp3.jpg");
    background-size: 100%;
}

#defector{
    width: 115px;
    height: 115px;
    left: 0;
    right: 0;
    position: absolute;
    transition: all 1.5s ease;
    background-color: #4655a2;
    color: white;
    font-size: 40px;
    font-size: 20px;
}